.g-con {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-column-gap: 16px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.c-start-1 {grid-column-start: 1;}
.c-start-2 {grid-column-start: 2;}
.c-start-3 {grid-column-start: 3;}
.c-start-4 {grid-column-start: 4;}


.c-span-1  {grid-column: span 1 ;}
.c-span-2  {grid-column: span 2 ;}
.c-span-3  {grid-column: span 3 ;}
.c-span-4  {grid-column: span 4 ;}
.c-span-full {grid-column: 1/ -1;}

.c-end-1 {grid-column-end: 1;}
.c-end-2 {grid-column-end: 2;}
.c-end-3 {grid-column-end: 3;}
.c-end-4 {grid-column-end: 4;} 


.r-start-1 {grid-row-start: 1;}
.r-start-2 {grid-row-start: 2;}
.r-start-3 {grid-row-start: 3;}
.r-start-4 {grid-row-start: 4;}

.r-span-1  {grid-row: span 1 ;}
.r-span-2  {grid-row: span 2 ;}
.r-span-3  {grid-row: span 3 ;}
.r-span-4  {grid-row: span 4 ;}
.r-span-full {grid-row: 1/ -1;}

.r-end-1 {grid-row-end: 1;}
.r-end-2 {grid-row-end: 2;}
.r-end-3 {grid-row-end: 3;}
.r-end-4 {grid-row-end: 4;} 

@media screen and (min-width: 768px) {

    .g-con{
        display:grid;
        grid-template-columns: repeat(8, minmax(0,1fr));
        grid-column-gap: 16px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .m-c-start-1 {grid-column-start: 1;}
    .m-c-start-2 {grid-column-start: 2;}
    .m-c-start-3 {grid-column-start: 3;}
    .m-c-start-4 {grid-column-start: 4;}
    .m-c-start-5 {grid-column-start: 5;}
    .m-c-start-6 {grid-column-start: 6;}
    .m-c-start-7 {grid-column-start: 7;}
    .m-c-start-8 {grid-column-start: 8;}
    .m-c-start-9 {grid-column-start: 9;}
    .m-c-start-10 {grid-column-start: 10;}
    .m-c-start-12 {grid-column-start: 12;}
    .m-c-start-13 {grid-column-start: 13;}

    .m-c-span-1 {grid-column: span 1 ;}
    .m-c-span-2 {grid-column: span 2 ;}
    .m-c-span-3 {grid-column: span 3 ;}
    .m-c-span-4 {grid-column: span 4 ;}
    .m-c-span-5 {grid-column: span 5 ;}
    .m-c-span-6 {grid-column: span 6 ;}
    .m-c-span-7 {grid-column: span 7 ;}
    .m-c-span-8 {grid-column: span 8 ;}
    .m-c-span-9 {grid-column: span 9 ;}
    .m-c-span-10 {grid-column: span 10 ;}
    .m-c-span-11 {grid-column: span 11 ;}
    .m-c-span-12 {grid-column: span 12 ;}
    .m-c-span-full {grid-column: 1 / -1;}


    .m-c-end-1	{grid-column-end: 1;}
    .m-c-end-2	{grid-column-end: 2;}
    .m-c-end-3	{grid-column-end: 3;}
    .m-c-end-4	{grid-column-end: 4;}
    .m-c-end-5	{grid-column-end: 5;}
    .m-c-end-6	{grid-column-end: 6;}
    .m-c-end-7	{grid-column-end: 7;}
    .m-c-end-8	{grid-column-end: 8;}
    .m-c-end-9	{grid-column-end: 9;}
    .m-c-end-10	{grid-column-end: 10;}
    .m-c-end-11	{grid-column-end: 11;}
    .m-c-end-12	{grid-column-end: 12;}
    .m-c-end-13	{grid-column-end: 13;}




    .m-r-start-1 {grid-row-start: 1;}
    .m-r-start-2 {grid-row-start: 2;}
    .m-r-start-3 {grid-row-start: 3;}
    .m-r-start-4 {grid-row-start: 4;}
    .m-r-start-5 {grid-row-start: 5;}
    .m-r-start-6 {grid-row-start: 6;}
    .m-r-start-7 {grid-row-start: 7;}
    .m-r-start-8 {grid-row-start: 8;}
    .m-r-start-9 {grid-row-start: 9;}
    .m-r-start-10 {grid-row-start: 10;}
    .m-r-start-12 {grid-row-start: 12;}
    .m-r-start-13 {grid-row-start: 13;}

    .m-r-span-1 {grid-row: span 1 ;}
    .m-r-span-2 {grid-row: span 2 ;}
    .m-r-span-3 {grid-row: span 3 ;}
    .m-r-span-4 {grid-row: span 4 ;}
    .m-r-span-5 {grid-row: span 5 ;}
    .m-r-span-6 {grid-row: span 6 ;}
    .m-r-span-7 {grid-row: span 7 ;}
    .m-r-span-8 {grid-row: span 8 ;}
    .m-r-span-9 {grid-row: span 9 ;}
    .m-r-span-10 {grid-row: span 10 ;}
    .m-r-span-11 {grid-row: span 11 ;}
    .m-r-span-12 {grid-row: span 12 ;}
    .m-r-span-full {grid-row: 1 / -1;}


    .m-r-end-1	{grid-row-end: 1;}
    .m-r-end-2	{grid-row-end: 2;}
    .m-r-end-3	{grid-row-end: 3;}
    .m-r-end-4	{grid-row-end: 4;}
    .m-r-end-5	{grid-row-end: 5;}
    .m-r-end-6	{grid-row-end: 6;}
    .m-r-end-7	{grid-row-end: 7;}
    .m-r-end-8	{grid-row-end: 8;}
    .m-r-end-9	{grid-row-end: 9;}
    .m-r-end-10	{grid-row-end: 10;}
    .m-r-end-11	{grid-row-end: 11;}
    .m-r-end-12	{grid-row-end: 12;}
    .m-r-end-13	{grid-row-end: 13;}
}


@media screen and (min-width: 1200px) {

    .g-con{
        display:grid;
        grid-template-columns: repeat(12, minmax(0,1fr));
        grid-column-gap: 20px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .l-c-start-1 {grid-column-start: 1;}
    .l-c-start-2 {grid-column-start: 2;}
    .l-c-start-3 {grid-column-start: 3;}
    .l-c-start-4 {grid-column-start: 4;}
    .l-c-start-5 {grid-column-start: 5;}
    .l-c-start-6 {grid-column-start: 6;}
    .l-c-start-7 {grid-column-start: 7;}
    .l-c-start-8 {grid-column-start: 8;}
    .l-c-start-9 {grid-column-start: 9;}
    .l-c-start-10 {grid-column-start: 10;}
    .l-c-start-11 {grid-column-start: 11;}
    .l-c-start-12	{grid-column-start: 12;}
    .l-c-start-13	{grid-column-start: 13;}

    .l-c-span-1 {grid-column: span 1 ;}
    .l-c-span-2 {grid-column: span 2 ;}
    .l-c-span-3 {grid-column: span 3 ;}
    .l-c-span-4 {grid-column: span 4 ;}
    .l-c-span-5 {grid-column: span 5 ;}
    .l-c-span-6 {grid-column: span 6 ;}
    .l-c-span-7 {grid-column: span 7 ;}
    .l-c-span-8 {grid-column: span 8 ;}
    .l-c-span-9 {grid-column: span 9 ;}
    .l-c-span-10 {grid-column: span 10 ;}
    .l-c-span-11 {grid-column: span 11 ;}
    .l-c-span-12 {grid-column: span 12 ;}
    .l-c-span-full {grid-column: 1 / -1;}


    .l-c-end-1	{grid-column-end: 1;}
    .l-c-end-2	{grid-column-end: 2;}
    .l-c-end-3	{grid-column-end: 3;}
    .l-c-end-4	{grid-column-end: 4;}
    .l-c-end-5	{grid-column-end: 5;}
    .l-c-end-6	{grid-column-end: 6;}
    .l-c-end-7	{grid-column-end: 7;}
    .l-c-end-8	{grid-column-end: 8;}
    .l-c-end-9	{grid-column-end: 9;}
    .l-c-end-10	{grid-column-end: 10;}
    .l-c-end-11	{grid-column-end: 11;}
    .l-c-end-12	{grid-column-end: 12;}
    .l-c-end-13	{grid-column-end: 13;}


    .l-r-start-1 {grid-row-start: 1;}
    .l-r-start-2 {grid-row-start: 2;}
    .l-r-start-3 {grid-row-start: 3;}
    .l-r-start-4 {grid-row-start: 4;}
    .l-r-start-5 {grid-row-start: 5;}
    .l-r-start-6 {grid-row-start: 6;}
    .l-r-start-7 {grid-row-start: 7;}
    .l-r-start-8 {grid-row-start: 8;}
    .l-r-start-9 {grid-row-start: 9;}
    .l-r-start-10 {grid-row-start: 10;}
    .l-r-start-12 {grid-row-start: 12;}
    .l-r-start-13 {grid-row-start: 13;}

    .l-r-span-1 {grid-row: span 1 ;}
    .l-r-span-2 {grid-row: span 2 ;}
    .l-r-span-3 {grid-row: span 3 ;}
    .l-r-span-4 {grid-row: span 4 ;}
    .l-r-span-5 {grid-row: span 5 ;}
    .l-r-span-6 {grid-row: span 6 ;}
    .l-r-span-7 {grid-row: span 7 ;}
    .l-r-span-8 {grid-row: span 8 ;}
    .l-r-span-9 {grid-row: span 9 ;}
    .l-r-span-10 {grid-row: span 10 ;}
    .l-r-span-11 {grid-row: span 11 ;}
    .l-r-span-12 {grid-row: span 12;}
    .l-r-span-full {grid-row: 1 / -1;}


    .l-r-end-1	{grid-row-end: 1;}
    .l-r-end-2	{grid-row-end: 2;}
    .l-r-end-3	{grid-row-end: 3;}
    .l-r-end-4	{grid-row-end: 4;}
    .l-r-end-5	{grid-row-end: 5;}
    .l-r-end-6	{grid-row-end: 6;}
    .l-r-end-7	{grid-row-end: 7;}
    .l-r-end-8	{grid-row-end: 8;}
    .l-r-end-9	{grid-row-end: 9;}
    .l-r-end-10	{grid-row-end: 10;}
    .l-r-end-11	{grid-row-end: 11;}
    .l-r-end-12	{grid-row-end: 12;}
    .l-r-end-13	{grid-row-end: 13;}
}



@media screen and (min-width: 1920px) {

    .g-con{
        display:grid;
        grid-template-columns: repeat(12, minmax(0,1fr));
        grid-column-gap: 34px;
        padding-right: 20px;
        padding-left: 20px;
    }

    .xl-c-start-1 {grid-column-start: 1;}
    .xl-c-start-2 {grid-column-start: 2;}
    .xl-c-start-3 {grid-column-start: 3;}
    .xl-c-start-4 {grid-column-start: 4;}
    .xl-c-start-5 {grid-column-start: 5;}
    .xl-c-start-6 {grid-column-start: 6;}
    .xl-c-start-7 {grid-column-start: 7;}
    .xl-c-start-8 {grid-column-start: 8;}
    .xl-c-start-9 {grid-column-start: 9;}
    .xl-c-start-10 {grid-column-start: 10;}
    .xl-c-start-11 {grid-column-start: 11;}
    .xl-c-start-12 {grid-column-start: 12;}
    .xl-c-start-13 {grid-column-start: 13;}

    .xl-c-span-1 {grid-column: span 1 ;}
    .xl-c-span-2 {grid-column: span 2 ;}
    .xl-c-span-3 {grid-column: span 3 ;}
    .xl-c-span-4 {grid-column: span 4 ;}
    .xl-c-span-5 {grid-column: span 5 ;}
    .xl-c-span-6 {grid-column: span 6 ;}
    .xl-c-span-7 {grid-column: span 7 ;}
    .xl-c-span-8 {grid-column: span 8 ;}
    .xl-c-span-9 {grid-column: span 9 ;}
    .xl-c-span-10 {grid-column: span 10 ;}
    .xl-c-span-11 {grid-column: span 11 ;}
    .xl-c-span-12 {grid-column: span 12 ;}
    .xl-c-span-full {grid-column: 1 / -1;}


    .xl-c-end-1	{grid-column-end: 1;}
    .xl-c-end-2	{grid-column-end: 2;}
    .xl-c-end-3	{grid-column-end: 3;}
    .xl-c-end-4	{grid-column-end: 4;}
    .xl-c-end-5	{grid-column-end: 5;}
    .xl-c-end-6	{grid-column-end: 6;}
    .xl-c-end-7	{grid-column-end: 7;}
    .xl-c-end-8	{grid-column-end: 8;}
    .xl-c-end-9	{grid-column-end: 9;}
    .xl-c-end-10	{grid-column-end: 10;}
    .xl-c-end-11	{grid-column-end: 11;}
    .xl-c-end-12	{grid-column-end: 12;}
    .xl-c-end-13	{grid-column-end: 13;}



}
    .xl-r-start-1 {grid-row-start: 1;}
    .xl-r-start-2 {grid-row-start: 2;}
    .xl-r-start-3 {grid-row-start: 3;}
    .xl-r-start-4 {grid-row-start: 4;}
    .xl-r-start-5 {grid-row-start: 5;}
    .xl-r-start-6 {grid-row-start: 6;}
    .xl-r-start-7 {grid-row-start: 7;}
    .xl-r-start-8 {grid-row-start: 8;}
    .xl-r-start-9 {grid-row-start: 9;}
    .xl-r-start-10 {grid-row-start: 10;}
    .xl-r-start-12 {grid-row-start: 12;}
    .xl-r-start-13 {grid-row-start: 13;}

    .xl-r-span-1 {grid-row: span 1 ;}
    .xl-r-span-2 {grid-row: span 2 ;}
    .xl-r-span-3 {grid-row: span 3 ;}
    .xl-r-span-4 {grid-row: span 4 ;}
    .xl-r-span-5 {grid-row: span 5 ;}
    .xl-r-span-6 {grid-row: span 6 ;}
    .xl-r-span-7 {grid-row: span 7 ;}
    .xl-r-span-8 {grid-row: span 8 ;}
    .xl-r-span-9 {grid-row: span 9 ;}
    .xl-r-span-10 {grid-row: span 10 ;}
    .xl-r-span-11 {grid-row: span 11 ;}
    .xl-r-span-12 {grid-row: span 12 ;}
    .xl-r-span-full {grid-row: 1 / -1;}


    .xl-r-end-1	{grid-row-end: 1;}
    .xl-r-end-2	{grid-row-end: 2;}
    .xl-r-end-3	{grid-row-end: 3;}
    .xl-r-end-4	{grid-row-end: 4;}
    .xl-r-end-5	{grid-row-end: 5;}
    .xl-r-end-6	{grid-row-end: 6;}
    .xl-r-end-7	{grid-row-end: 7;}
    .xl-r-end-8	{grid-row-end: 8;}
    .xl-r-end-9	{grid-row-end: 9;}
    .xl-r-end-10	{grid-row-end: 10;}
    .xl-r-end-11	{grid-row-end: 11;}
    .xl-r-end-12	{grid-row-end: 12;}
    .xl-r-end-13	{grid-row-end: 13;}