/* Reset some default styling */

.hidden{
    display: none;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;/*change back to white if you prefer*/
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px 20px;
}

.logo {
    color: white;
    font-size: 1.5em;
}

.menu-icon {
    display: none;
    font-size: 1.8em;
    cursor: pointer;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 15px;
}

.nav-links li a {
    color: white;
    text-decoration: none;
    padding: 8px 15px;
    transition: background-color 0.3s ease;
}

.nav-links li a:hover {
    background-color: red;
    border-radius: 5px;
}

#welcome-section {
    width: 100%;
}

/* Mobile styles */
@media (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-links {
        display: none; /* Initially hidden */
        flex-direction: column;
        position: absolute;
        z-index: 1;
        top: 60px;
        right: 0;
        width: 250px;
        background-color: red;
    }

    .nav-links.active {
        display: flex; /* Show menu when active */
        padding: 20px;
    }

    .nav-links li {
        text-align: left;
        padding-right: 20px;
    }

    .nav-links li a {
        padding: 10px;
    }
}

#fanshawe-svg{
    animation: svg 1s ease-in-out forwards;
    padding:10px;
    align-self: center;
    margin-left: 5px;
}
@keyframes svg{
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#welcome {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: red;
    top:-111px;
    padding: 10px;
    z-index: 1;
    height: 125px;
    font-size: 50px;
    animation: welcome 2s ease-in-out forwards;
}

@keyframes welcome {
    0% { transform: translateY(-111px); opacity: 0;}

    20% { transform: translateY(0px); opacity:0.05; }

    40% {transform: translateY(-40px);}

    60% {transform: translateY(0px);}

    80% {transform: translateY(-10px);}
   
    100% {transform: translateY(0px); opacity: 1;}
}

#video-player {
    display: flex;
    justify-content: center;
    border: solid 3px black;
    background-color: grey;
   
}

.box {
    border: solid 3px grey;
    background-color: black;
    margin:10px;
    padding: 10px;
    color: white;
    text-align: center;
}

ul {
    list-style-type: none;
}

h3 {
    padding: 20px;
    display: inline;
    text-align: center;
}

footer {
    background-color: red;
    height: 700px;
}


#fan-web, #copyright{
    display: block;
    text-align: center;
    text-decoration: none;
    color: white;
}